@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Comfortaa:wght@300&family=Kanit:wght@300&family=Montserrat+Alternates:ital,wght@1,200&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&family=Mulish:wght@300&family=Nunito+Sans:ital,wght@1,200&family=Saira:wght@300&family=Work+Sans:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/bebas-neue");
@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Comfortaa:wght@300&family=Kanit:wght@300&family=Montserrat+Alternates:ital,wght@1,200&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&family=Mulish:wght@300&family=Nunito+Sans:ital,wght@1,200&family=Saira:wght@300&family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s ease all;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 2100px;
}

b {
  font-weight: 600;
}

img {
  width: 100%;
}

.container {
  padding: 0 380px 75px 380px;
  margin: 0 auto;
}

button {
  font-weight: 700;
  /* font-family: "Monserrat", sans-serif; */
  font-size: 18px;
}

header {
  position: relative;
  background: url("./img/пузико.png") no-repeat center top / cover;
}

header > background-image {
  box-shadow: 0 3px 2px 2px #fff;
}

.navigation {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  column-gap: 35px;
  align-items: center;
  list-style: none;
}

.logo {
  width: 80px;
}

.text-logo {
  margin: 0px 65px 0 10px;
  width: 150px;
}

.item-link {
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
  font-size: 15px;
}

.phone {
  display: flex;
  flex-direction: column;
}

.text-blue {
  color: #2689e4;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12.44px;
}

.numbers {
  font-family: "Montserrat";
  font-size: 17px;
}

.numbers i {
  padding-right: 5px;
}

.welcome {
  position: relative;
}

.welcome-inner {
  padding: 90px 0 250px;
  text-align: center;
  position: relative;
}

.welcome-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 175px;
  line-height: 200px;
  background: linear-gradient(
      273.08deg,
      black 18.65%,
      rgba(214, 214, 214, 0.4) 48.28%,
      black 93.32%
    ),
    #434343;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #29292966;
}

.welcome-subtitle {
  font-family: Montserrat;
  font-size: x-large;
}

.primary {
  color: #fff;
  font-size: 15px;
  width: 310px;
  height: 90px;
  background: linear-gradient(
      98.94deg,
      rgba(2, 160, 199, 0.4) -4.23%,
      rgba(255, 255, 255, 0.4) 51.39%,
      rgba(2, 160, 199, 0.4) 103.65%
    ),
    #00a9d2;
  border: none;
  margin-top: 50px;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 5px 0px #0e9bbd;
  font-weight: 600;
  letter-spacing: 0.095em;
  cursor: pointer;
}

.primary a {
  color: white;
  text-decoration: none;
}

/* -- About Company */

.aboutCompanyContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: calc(1rem + 27px);
  font-family: "Montserrat", sans-serif;
}

.aboutCompanyImg {
  width: 50%;
}

.abcomptext ul {
  list-style-position: inside;
}

.abcomptext ul li::marker {
  content: "\2714";

  background: radial-gradient(50% 50% at 50% 50%, #ff8d5c 0%, #ff8c5a 100%);
  border-radius: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 850px;
}

.vahui {
  max-width: 425px;
  width: 100%;
  padding: 10px;
}

.vahui img {
  border-radius: 10px;
  width: 100% !important;
  object-fit: cover;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.second-row {
  margin-top: 15px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.first-row img {
  height: 300px;
}

.second-row img {
  height: 100px;
}
.my-swiper-scroll-drag.swiper-scrollbar-drag {
  background: #ff8d5c;
  border-radius: 10px;
}

.myswiperscromySwiperScrollbarllbar.swiper-horizontal > .swiper-scrollbar,
.mySwiperScrollbar.swiper-scrollbar.swiper-scrollbar-horizontal {
  margin-top: 15px;
  position: relative;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
  position: absolute;
  top: calc(50% - 30px);
  margin: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #00a9d2 0%, #19c0e9 100%);
  border: 2px solid white;
}

.swiper-button.swiper-button-next::after,
.swiper-button.swiper-button-prev::after {
  color: #fff;
  font-size: 15px;
}

.swiper-button-next {
  left: 365px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.aboutCompanyImgBottom {
  position: relative;
}

.h1 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  background: linear-gradient(
      273.08deg,
      rgba(41, 41, 41, 0.4) 18.65%,
      rgba(214, 214, 214, 0.4) 70.28%,
      rgba(64, 64, 64, 0.4) 93.32%
    ),
    #434343;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #29292966;
  margin-bottom: 30px;
}

.authorization {
  box-sizing: border-box;
  width: 160px;
  height: 44px;
  border-radius: 10px;
  border-color: #ff8d5c;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #143b5f;
  background-color: rgba(245, 245, 245, 0.831);
  margin: 0 0 0 2rem;
  cursor: pointer;
}

.firstpict {
  border-radius: 20px;
}

.pict-child {
  border-radius: 15px;
}

.box {
  width: 150px;
  height: 120px;
}

.fparagr {
  width: 442px;
  font-weight: 600;
  font-size: 23px;
  line-height: 146%;
  color: #1f1f1f;
}

.paragr {
  font-family: "Montserrat", sans-serif;
}

.z {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #272727;
  padding: 10px;
}

.marker {
  background: radial-gradient(50% 50% at 50% 50%, #ff8d5c 0%, #ff8c5a 100%);
  border-radius: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 850px;
}

.primary img {
  width: 90%;
}

.placeImg {
  width: 245px;
  height: 175px;
}

.placeText {
  padding-top: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #272727;
  line-height: 140%;
  width: 262px;
  height: 140px;
}
.cards-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.text-element {
  padding-top: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #272727;
  line-height: 140%;
  width: 262px;
  height: 140px;
}

.circle-1 {
  position: absolute;
  background-color: white;
  color: white;
  width: 405px;
  height: 405px;
  border-radius: 50%;
  border: 2px solid rgba(255, 141, 92, 1);
  left: 50%;
  transform: translate(-45%, -5%);
}
.circle-2 {
  position: absolute;
  /* background-color: rgba(240, 240, 240, 1); */
  color: black;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  bottom: 40px;
  right: 38px;
}

.circle-2 img {
  margin-left: 20px;
}

.point-1 {
  position: absolute;
  width: 19px;
  height: 19px;

  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(-1075%, 950%);
}

.point-2 {
  position: absolute;
  width: 19px;
  height: 19px;

  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(1035%, 950%);
}

.point-3 {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(-800%, 200%);
}

.point-4 {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(775%, 200%);
}

.point-5 {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(-800%, 1625%);
}

.point-6 {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ff8d5c;
  transform: translate(775%, 1625%);
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 220px;
  margin-top: 75px;
}

.text-element {
  width: 200px;
}

.shop-row {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4.50188px 19.133px rgba(98, 98, 98, 0.18);
  border-radius: 11.2547px;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.shop-img {
  width: 125px;
  height: 80px;
}

.shop-text {
  padding: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #272727;
}

.shop {
  position: relative;
  padding-bottom: 80px;
}

.bold {
  font-weight: 700;
}

.system-row {
  display: flex;
  justify-content: center;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.system-column {
  padding-left: 40px;
}

.system-img {
  width: 250px;
  height: 230px;
  border-radius: 10px;
  background-color: rgb(230, 164, 42);
}

.system-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: left;
  color: #272727;
}

.system {
  padding-bottom: 80px;
}

.team {
  padding-bottom: 100px;
}

.app {
  font-family: "Montserrat";
  padding-bottom: 100px;
}

.app img {
  width: 250px;
  margin-top: 50px;
}

.app-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.app-title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 25px;
  padding-top: 50px;
}

.app-subtitle {
  padding-bottom: 25px;
}

.btn-1 {
  font-size: 11px;
  width: 160px;
  height: 55px;
  background: linear-gradient(
      98.94deg,
      rgba(2, 160, 199, 0.4) -4.23%,
      rgba(255, 255, 255, 0.4) 51.39%,
      rgba(2, 160, 199, 0.4) 103.65%
    ),
    #00a9d2;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #0e9bbd;
  font-weight: 600;
  letter-spacing: 0.095em;
  font-family: "Montserrat";
  line-height: 35px;
  cursor: pointer;
}

.btn-2 {
  font-size: 11px;
  width: 160px;
  height: 55px;
  background: linear-gradient(
      98.94deg,
      rgba(255, 140, 90, 0.4) -4.23%,
      rgba(255, 255, 255, 0.4) 51.39%,
      rgba(255, 140, 90, 0.4) 103.65%
    ),
    #ff8c5a;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #0e9bbd;
  font-weight: 600;
  letter-spacing: 0.095em;
  font-family: "Montserrat";
  line-height: 35px;
  cursor: pointer;
}

.buttons-row i {
  padding-right: 6px;
  font-size: 22px;
  margin-top: 5px;
}
.buttons-row {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
}

.app-inner {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 20px rgba(98, 98, 98, 0.18);
  border-radius: 12.2077px;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  width: 250px;
  height: 100px;
  text-align: center;
  border: 0.3px solid #ff8d5c;
  border-left: none;
}

.part p {
  padding-top: 30px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
}

.part img {
  text-align: center;
  width: 200px;
}

.partners {
  padding-bottom: 100px;
}

.question {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 20px;
  text-align: left;
}

.ask {
  font-family: "Montserrat";
  padding-bottom: 50px;
}

.answer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  text-align: left;
}

.blocks {
  text-align: center;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.ask hr {
  margin: 20px 0 20px 0;
  height: 0;
  background-color: rgba(255, 141, 92, 1);
}

.cross i {
  position: absolute;
}

footer {
  height: 250px;
  background-color: rgba(29, 36, 31, 1);
}

@media (max-width: 720px) {
  header {
    width: 500px;
  }
  .navigation {
    width: 500px;
  }
  .welcome-inner {
    width: 500px;
  }
}
